body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
}

.hero{ 
    position: relative;
    padding: 20px;
}

footer {
    padding: 40px;
    background-color: #3D3D3D;
    color: #fff;
    text-align: center;
    padding: 2em;
}

.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-text{
    text-align: right;
    flex-grow: 1 1 1;
}
.hero-text p{
    padding-left: 2rem;
}

.logo-container{
    margin: 10px;
}

.logo {
    display: block;
}

.sub-section{
    text-align: center;
    padding: 0, 5;
    margin: 2;
}
.project-container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.project-work{
    width: 300px;
    height: 500px;
}

.divider{
    border: none;
    border-top: 1px solid black;
    margin: 20px
}

.divider-end{
    border: none;
    border-top: 4px solid #000080;
    margin: 20px
}

hr.divider-end{
    border: 2px solid #0D4B6E;
}
h3{
    margin-top: 10px;
    font-family: "Helvetica Neue Light", Helvetica, sans-serif;
    font-size: 24px;
}

a{
    margin-top: 12px;
    padding-top: 12px;
}

.link{
    font-family: "Baskerville Italic", serif;
    font-size: 24px;
    color: #BB1F25;
    font-style: italic;
}